.homeScreen header {
	display: flex;
	/* justify-content: flex-start; */
	padding: 16px;
	padding-bottom: 4px;
}

.homeScreen header .title {
	font-size: 16px;
	font-weight: 500;
	margin-right: auto;
	overflow: visible;
	height: 16px;
	line-height: 16px;
}

.homeScreen button {
	/* align-self: flex-end; */
	vertical-align: start;
}

.homeScreen button svg {
	display: block;
	width: 16px;
	height: 16px;
}

.homeScreen .inbox {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	width: 100%;
}

.homeScreen .inbox:hover {
	background: var(--light-gray);
}

.homeScreen .inbox.unread {
	padding-left: 5px;
}

.homeScreen .inbox .dot {
	width: 6px;
	height: 6px;
	background: var(--blue);
	border-radius: 50%;
	margin-right: 5px;
}

.homeScreen .inbox .icon {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	margin-right: 8px;
}

.homeScreen .inbox .name {
	font-size: 14px;
}

.homeScreen .inbox .address {
	font-size: 10px;
	color: var(--gray);
	margin-top: 1.5px;
}

.homeScreen .createForm {
	display: none;
	position: absolute;
	bottom: 0;
	padding: 12px;
	width: 100%;
}

.homeScreen .createForm .popup {
	background: white;
	border: solid 1px var(--light-gray);
	border-radius: 8px;
	padding: 12px;
}

.homeScreen .createForm .title {
	font-size: 16px;
	font-weight: 500;
}

.homeScreen .createForm input {
	width: 100%;
	padding: 6px 12px;
	border: solid 1px var(--light-gray);
	border-radius: 8px;
	margin-top: 4px;
}

.homeScreen .createForm input::placeholder {
	color: var(--gray);
}

.homeScreen .createForm .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 8px;
	margin-top: 8px;
}

.homeScreen .createForm button {
	text-align: center;
	padding: 4px 0;
	border-radius: 8px;
}

.homeScreen .createForm .cancel {
	background: var(--light-gray);
	color: var(--gray);
}

.homeScreen .createForm .confirm {
	background: var(--blue);
	color: white;
}
