.homeScreen {
	padding: 12px;
}

.homeScreen .title {
	font-size: 20px;
	font-weight: 500;
}

.homeScreen .inbox {
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.homeScreen .inbox .icon {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

.homeScreen .inbox .info {
	margin-left: 8px;
}

.homeScreen .inbox .name {
	font-size: 14px;
}

.homeScreen .inbox .address {
	font-size: 8px;
	color: #888888;
	margin-top: 1.5px;
}
