.inboxScreen header {
	padding: 16px;
	padding-bottom: 0;
}

.inboxScreen .buttons {
	display: flex;
	justify-content: space-between;
}

.inboxScreen .buttons svg {
	display: block;
	width: 16px;
	height: 16px;
}

.inboxScreen .delete {
	color: var(--red);
}

.inboxScreen .name {
	font-size: 20px;
	font-weight: 500;
	margin-top: 12px;
}

.inboxScreen .address {
	font-size: 10px;
	color: var(--gray);
	margin-top: 4px;
}

.inboxScreen button.address {
	cursor: default;
}

.inboxScreen .loading,
.inboxScreen .empty {
	font-size: 10px;
	color: var(--gray);
	margin-top: 16px;
	text-align: center;
}

.inboxScreen .messages {
	margin-top: 8px;
}

.inboxScreen .message {
	padding: 8px 16px;
	width: 100%;
}

.inboxScreen .message:hover {
	background: var(--light-gray);
}

.inboxScreen .message .subject {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inboxScreen .message .from {
	font-size: 10px;
	color: var(--gray);
	margin-top: 1.5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inboxScreen .deleteConfirm {
	display: none;
	position: absolute;
	bottom: 0;
	padding: 12px;
}

.inboxScreen .deleteConfirm .popup {
	background: white;
	border: solid 1px var(--light-gray);
	border-radius: 8px;
	padding: 8px;
}

.inboxScreen .deleteConfirm .title {
	font-size: 16px;
	font-weight: 500;
}

.inboxScreen .deleteConfirm .description {
	font-size: 12px;
	color: var(--gray);
	margin-top: 2px;
}

.inboxScreen .deleteConfirm .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 8px;
	margin-top: 8px;
}

.inboxScreen .deleteConfirm button {
	text-align: center;
	padding: 4px 0;
	border-radius: 8px;
}

.inboxScreen .deleteConfirm .cancel {
	background: var(--light-gray);
	color: var(--gray);
}

.inboxScreen .deleteConfirm .confirm {
	background: var(--red);
	color: white;
}
