.inboxScreen header {
	padding: 16px;
	padding-bottom: 0;
}

.inboxScreen .buttons {
	display: flex;
	justify-content: space-between;
}

.inboxScreen .buttons svg {
	display: block;
	width: 16px;
	height: 16px;
}

.inboxScreen .back {
	color: var(--dark-gray);
}

.inboxScreen .delete {
	color: var(--red);
}

.inboxScreen .name {
	font-size: 20px;
	font-weight: 500;
	margin-top: 12px;
}

.inboxScreen .address {
	font-size: 10px;
	color: var(--dark-gray);
	margin-top: 4px;
}

.inboxScreen button.address {
	cursor: default;
}

.inboxScreen .loading,
.inboxScreen .empty {
	font-size: 10px;
	color: var(--light-gray);
	margin-top: 16px;
	text-align: center;
}

.inboxScreen .messages {
	margin-top: 8px;
}

.inboxScreen .message {
	padding: 8px 16px;
	width: 100%;
}

.inboxScreen .message:hover {
	background: #eeeeee;
}

.inboxScreen .message .subject {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inboxScreen .message .from {
	font-size: 10px;
	color: var(--light-gray);
	margin-top: 1.5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
