.inboxScreen {
	padding: 16px 0;
}

.inboxScreen header {
	padding: 0 16px;
}

.inboxScreen .name {
	font-size: 20px;
	font-weight: 500;
}

.inboxScreen .address {
	font-size: 10px;
	color: #888888;
	margin-top: 4px;
	background: none;
	border: none;
	text-align: left;
	padding: 0;
}

.inboxScreen button.address {
	cursor: pointer;
}
