@import url("./loading.css");
@import url("./home.css");
@import url("./inbox.css");
@import url("./message.css");

* {
	margin: 0;
	box-sizing: border-box;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

button {
	background: none;
	border: none;
	padding: 0;
	display: block;
	text-align: left;
}

:root {
	--background: #fff7d9;
	--light-gray: #eeeeee;
	--gray: #737373;
	--red: #ef4444;
	--blue: #2563eb;
}

body {
	margin: 0;
}

.screen {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
